@use "../../common/styles/variables" as *;

.square {
    width: 100%;
    position: relative;

    .notation {
        margin: 0;
        font-family: $font-secondary;
        font-size: clamp(.4rem, 1vw, .65rem);
        position: absolute;
        font-weight: $fw-semibold;
        color: $very-dark-grey;
        
        &.file {
            bottom: 2px;
            left: 2px;
        }

        &.rank {
            top: 2px;
            right: 2px;
        }

    }
}