@use "../../common/styles/variables" as *;

.square {
    width: 100%;
    position: relative;

    .notation {
        margin: 0;
        font-family: $font-secondary;
        font-size: .75rem;
        position: absolute;
        
        &.file {
            bottom: 2px;
            left: 2px;
        }

        &.rank {
            top: 2px;
            right: 2px;
        }

    }
}