@use "./variables" as *;
@use "./mixins" as *;

* {
    box-sizing: border-box;
}

html,
body,
ul,
h1,
h2,
h3,
h4,
input,
p {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style-type: none;
}

input:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

button {
    border: none;
    outline: none;
}

body,
html {
    min-height: 100%;
}

body {
    background: $grey-gradient;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    color: $white;
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

.hidden {
    display: none;
}

.fill-height {
    min-height: calc(100vh - 90px); // Height of navbar: 90px;
    height: 1px;
}

.centered {
    justify-content: center;
    align-items: center;
}

.between {
    justify-content: space-between;
}

.column {
    flex-direction: column;
}

.flex {
    display: flex;
}

.stretch {
    align-items: stretch;
}

.justify-center {
    justify-content: center;
}

.h-100 {
    min-height: 100%;
}

.relative {
    position: relative;
}

@include tablet-768() {
    .md-flex {
        display: flex;
    }
}

.font-secondary {
    font-family: $font-secondary;
}

.extra-light {
    font-weight: $fw-extralight;
}

.light {
    font-weight: $fw-light;
}

.regular {
    font-weight: $fw-regular;
}

.semi-bold {
    font-weight: $fw-semibold;
}

.bold {
    font-weight: $fw-bold;
}

.bg-dusk {
    background-color: $dusk-blue;
}

.white-text {
    color: $white;
}

.btn-shadow {
    box-shadow: 0px 2px 20px $dusk-blue;
}

// Elements

.btn {
    font-family: $font-secondary;
    border: none;
    outline: none;
    font-size: 1.375rem;
    padding: .75rem 2.75rem;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease;

    &:hover,
    &:focus {
        background-color: $dusk-blue-hover;

    }

    &.disabled {
        background: $grey-gradient;
        color: $disabled !important;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 2.5rem;
}

/* Arena Shared Classes */
// .flipped {
//     transform: rotate(180deg);
// }