// Background Colours
$black-1: #0F0F0F;
$black-2: #151515;
$dark-grey-bg: #5F5F5F;
$dark-grey-border: #4D4D4D;
$very-dark-grey: #393939;
$misty-blue: #597f7f;
$grey-gradient: linear-gradient(to right, #292929, #333333);
$green-gradient: linear-gradient(to right, rgb(18, 123, 18), rgb(15, 78, 15));
$dusk-blue: #111324;
$very-pale-blue: #CDD8E0;
$very-pale-blue-hover: #f0f9ff;
$dusk-blue-hover: #1E223E;
$dusk: #292929;
$green-translucent: rgb(86 160 124 / 33%);
$green-translucent-hover: rgba(115, 214, 166, 0.33);


// Foreground Colours
$white: #FAFAFA;
$light-grey-text: #9a9a9a;
$dark-grey-text: #5F5F5F;
$danger: #f07575;

// Font Weights
$fw-bold: 700;
$fw-semibold: 600;
$fw-regular: 400;
$fw-light: 300;
$fw-extralight: 200;

// Font Family
$font-primary: "Roboto Mono", system-ui,
    -apple-system,
    Roboto,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

$font-secondary: "Roboto", system-ui,
    -apple-system,
    Roboto,
    BlinkMacSystemFont,
    'Segoe UI',
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;