@use "../../common/styles/mixins" as *;

.board__container {
    width: 350px;
    height: 350px;
    aspect-ratio: 1 / 1;
    position: relative;

    img.board {
        width: 100%;
        position: absolute;
        margin: 0;
        inset: 0;
    }
}

.board__interface {
    height: 100%;
    width: 100%;
}

.square__container {
    width: 100%;
    height: 100%;
    $num-ranks: 8;
    $num-files: 8;
    display: grid;
    grid-template-columns: repeat($num-files, 1fr);
    grid-template-rows: repeat($num-files, 1fr);
}

@include tablet-768() {
    .board__container {
        width: 500px;
        height: 500px;
    }
}

// @include desktop-1440() {
//     .board__container {
//         width: 600px;
//         height: 600px;
//     }
// }